<div id="container">
  <div id="title">
    <h1>Listing routes</h1>
  </div>
  

<% @routes.each do |route| %>
<div class="routeIndex">
  <div class="routeName">
    <%= route.name %>
    <br/>
    <%= render 'image' %>
  </div>
  <div class="routeOptions">
    <p><%= link_to 'Show', route %></p>
    <p><%= link_to 'Edit', edit_route_path(route) %></p>
    <p><%= link_to 'Destroy', route, confirm: 'Are you sure?', method: :delete %></p>
  </div>
  <div style="display: block; clear: both;"></div>
</div>
<% end %>

  <br />

  <%= link_to 'New Route', new_route_path %>
</div>