<p id="notice"><%= notice %></p>

<h1><%= @route.name %></h1>

<!-- <h2>Destinations</h2> -->
<!-- <%= render @route.destinations %> -->

<!-- <h2>Comments</h2> -->
<!-- <%= render @route.comments %> -->

<!-- <h2>Add a destination:</h2> -->
<!-- <%= render "destinations/form" %> -->

<!-- <h2>Add a comment:</h2> -->
<!-- <%= render "comments/form" %> -->

<div id="myRouteArea">
  <h2>My Route</h2>
</div>

<div id="destArea">
  <!-- Yelp Search Bar -->
  <form id="destSearchBar" action="<%= yelpDests_path %>">
    <label>Search: <input type="text" id="searchTerm" name="searchTerm" maxlength="30" /></label>
    <input type="submit"/>
  </form>

  <!-- Will load destinations into destList using AJAX -->
  <div id="destList"></div>
</div>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
