<p id="notice"><%= notice %></p>

<h1><%= @route.name %></h1>

<h2>Destinations</h2>
<%= render @route.destinations %>

<h2>Comments</h2>
<%= render @route.comments %>

<h2>Add a destination:</h2>
<%= render "destinations/form" %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
